@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic&display=swap);





body {
  font-family: Open Sans;
}
.display-1 {
  font-family: 'Merriweather', serif;
  font-size: 3.8rem;
}
.display-1 > .mbr-iconfont {
  font-size: 3.8rem;
}
.display-2 {
  font-family: 'Merriweather', serif;
  font-size: 2.6rem;
}
.display-2 > .mbr-iconfont {
  font-size: 2.6rem;
}
.display-4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
}
.display-4 > .mbr-iconfont {
  font-size: 0.875rem;
}
.display-5 {
  font-family: 'Merriweather', serif;
  font-size: 1.125rem;
}
.display-5 > .mbr-iconfont {
  font-size: 1.125rem;
}
.display-7 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.125rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.04rem;
    font-size: calc( 1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.08rem;
    font-size: calc( 1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.7rem;
    font-size: calc( 0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.9rem;
    font-size: calc( 1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 10px 15px;
  border-radius: 6px;
}
.btn-sm {
  padding: 5px 10px;
  border-radius: 6px;
}
.btn-md {
  padding: 15px 20px;
  border-radius: 6px;
}
.btn-lg {
  padding: 20px 25px;
  border-radius: 6px;
}
.bg-primary {
  background-color: #0087ab !important;
}
.bg-success {
  background-color: #344cf1 !important;
}
.bg-info {
  background-color: #48d678 !important;
}
.bg-warning {
  background-color: #d63d3d !important;
}
.bg-danger {
  background-color: #ececec !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #0087ab !important;
  border-color: #0087ab !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #004b5e !important;
  border-color: #004b5e !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #004b5e !important;
  border-color: #004b5e !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #0a1c44 !important;
  border-color: #0a1c44 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #000101 !important;
  border-color: #000101 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #000101 !important;
  border-color: #000101 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #48d678 !important;
  border-color: #48d678 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #26ab53 !important;
  border-color: #26ab53 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #26ab53 !important;
  border-color: #26ab53 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #344cf1 !important;
  border-color: #344cf1 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #0e26cb !important;
  border-color: #0e26cb !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #0e26cb !important;
  border-color: #0e26cb !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #d63d3d !important;
  border-color: #d63d3d !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff !important;
  background-color: #a42323 !important;
  border-color: #a42323 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #a42323 !important;
  border-color: #a42323 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #ececec !important;
  border-color: #ececec !important;
  color: #6d6d6d !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #6d6d6d !important;
  background-color: #c6c6c6 !important;
  border-color: #c6c6c6 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #6d6d6d !important;
  background-color: #c6c6c6 !important;
  border-color: #c6c6c6 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #003645;
  color: #003645;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  background-color: #0087ab;
  border-color: #0087ab;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #0087ab !important;
  border-color: #0087ab !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #0a1c44;
  border-color: #0a1c44;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #0a1c44 !important;
  border-color: #0a1c44 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #229649;
  color: #229649;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #48d678;
  border-color: #48d678;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #48d678 !important;
  border-color: #48d678 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #0c21b3;
  color: #0c21b3;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  background-color: #344cf1;
  border-color: #344cf1;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #344cf1 !important;
  border-color: #344cf1 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #8f1e1e;
  color: #8f1e1e;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  background-color: #d63d3d;
  border-color: #d63d3d;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #d63d3d !important;
  border-color: #d63d3d !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #b9b9b9;
  color: #b9b9b9;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #6d6d6d;
  background-color: #ececec;
  border-color: #ececec;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #6d6d6d !important;
  background-color: #ececec !important;
  border-color: #ececec !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #0087ab !important;
}
.text-secondary {
  color: #0a1c44 !important;
}
.text-success {
  color: #344cf1 !important;
}
.text-info {
  color: #48d678 !important;
}
.text-warning {
  color: #d63d3d !important;
}
.text-danger {
  color: #ececec !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #003645 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #0c21b3 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #229649 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #8f1e1e !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b9b9b9 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #48d678;
}
.alert-warning {
  background-color: #d63d3d;
}
.alert-danger {
  background-color: #ececec;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #0087ab;
  border-color: #0087ab;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #0087ab;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #2bd2ff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #f3f4fe;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #effbf3;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fae5e5;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
.form-control {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.125rem;
}
blockquote {
  border-color: #0087ab;
}
/* Forms */
.mbr-form .btn {
  margin: 0.4rem 0;
}
.btn-primary:hover {
  color: #0087ab !important;
  background: white !important;
  border-color: white !important;
}
.form-control,
.jq-number__spin {
  background-color: #ffffff;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #0087ab;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #0087ab;
  border-bottom-color: #0087ab;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #0087ab !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #0a1c44 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section) {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%230087ab' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-rEYi2YXxPd {
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-rEYi3BcaGX {
  padding-top: 150px;
  padding-bottom: 150px;
}
.cid-rEYi3BcaGX .mbr-section-title {
  text-align: center;
}
.cid-rEYi3BcaGX .mbr-text,
.cid-rEYi3BcaGX .mbr-section-btn {
  text-align: center;
}
.cid-rEYi4H90F9 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #0a1c44;
}
.cid-rEYi4H90F9 .row {
  margin: 0;
}
.cid-rEYi4H90F9 .container-fluid {
  padding: 0;
}
.cid-rEYi4H90F9 p {
  line-height: 1.6;
}
.cid-rEYi4H90F9 .img {
  padding: 0;
  width: 100%;
  overflow: hidden;
  max-height: 940px;
}
.cid-rEYi4H90F9 .img .big-img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}
.cid-rEYi4H90F9 .rev {
  margin: 0;
  color: #000000;
  text-align: left;
}
.cid-rEYi4H90F9 .content {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 10rem;
  padding-right: 10rem;
}
.cid-rEYi4H90F9 .mbr-section-title {
  text-align: left;
}
.cid-rEYi4H90F9 .card {
  margin-bottom: 1.5rem;
}
.cid-rEYi4H90F9 .card-wrapper {
  width: 100%;
  background: #ffffff;
  color: #444444;
  padding: 0;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.cid-rEYi4H90F9 .line-wrap {
  display: inline-block;
  width: 100%;
}
.cid-rEYi4H90F9 .line {
  display: inline-block;
  width: 80px;
  height: 4px;
  background-color: #ffffff;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}
.cid-rEYi4H90F9 .mbr-iconfont {
  font-size: 1rem;
}
.cid-rEYi4H90F9 .ico-line-wrap {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.cid-rEYi4H90F9 .ico-line {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rEYi4H90F9 .card-title {
  color: #0087ab;
  text-align: left;
}
.cid-rEYi4H90F9 .card-img {
  margin: auto;
  border-radius: 0;
  width: 155px;
}
.cid-rEYi4H90F9 .card-box {
  padding: 1rem 1rem;
  width: 100%;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rEYi4H90F9 .mbr-section-title,
.cid-rEYi4H90F9 .line-wrap {
  text-align: left;
  color: #ffffff;
}
.cid-rEYi4H90F9 .card-box,
.cid-rEYi4H90F9 .mbr-section-btn {
  text-align: left;
  color: #000000;
}
.cid-rEYi4H90F9 .text,
.cid-rEYi4H90F9 .mbr-section-btn {
  text-align: left;
  color: #ffffff;
}
@media (max-width: 1400px) {
  .cid-rEYi4H90F9 .content {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}
@media (max-width: 1200px) {
  .cid-rEYi4H90F9 .content {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (max-width: 992px) {
  .cid-rEYi4H90F9 .big-img {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .cid-rEYi4H90F9 .content {
    padding: 3rem;
  }
  .cid-rEYi4H90F9 .card-wrapper {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-rEYi4H90F9 .card-img {
    width: 100%;
  }
}
